<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{../style.css}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title th:text="#{view.player.title}"></title>
</head>
<body>

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">The Gym Buddy Finder App!</div>
        <div class="masthead-heading text-uppercase">You are member of gym buddies family!
        </div>
    </div>
</header>

<section class="page-section">
    <div class="container">
        <table class="table table-striped table-hover">
            <tr class="table-secondary">
                <td class="table-secondary"> <a href="">edit your profile</a> </td>
            </tr>
            <tr class="table-info">
                <td class="table-info"> <a href="">add your discipline</a> </td>
            </tr>
            <tr class="table-secondary">
                <td class="table-secondary"> <a href="">deactivate your profile</a> </td>
            </tr>
        </table>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <table class="table table-striped table-hover">
            <tr class="table-secondary">
                <td class="table-secondary"> <a href="/facilities/facility_list">facilities list</a> </td>
            </tr>
            <tr class="table-info">
                <td class="table-info"> <a href="">find gim buddy</a> </td>
            </tr>
            <tr class="table-secondary">
                <td class="table-secondary"> <a href="/facilities/find_facility">find facilities</a> </td>
            </tr>
        </table>
    </div>
</section>




<div class="align-content-center" th:insert="~{fragments/facilityListFooter :: footer}" ></div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>