<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{../style.css}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Register</title>


</head>
<body>
<div> REGISTER</div>

<form method="post" action="/register_send" th:object="${user}" th:action="@{/register_send}" >
    <p>nickname: <input type="text" th:field="*{nickname}">
        <span class="errorClass" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span>
    </p>
    <p>mailAddress: <input type="email" th:field="*{mailAddress}">
        <span class="errorClass" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"></span>
    </p>
    <p>password: <input type="password" th:field="*{password}">
        <span class="errorClass" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </p>

    <p>repeat password: <input type="password" th:field="*{repeatPassword}">
        <span class="errorClass" th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{password}"></span>
    </p>

    <p>Age:<input type="number" min="1" max="130" th:field="*{age}"></p>
    <p>phoneNumber: <input type="text" th:field="*{phoneNumber}">
        <span class="errorClass" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
    </p>
    <p>gender:
        <select class="paddingClass" th:field="*{gender}">
            <option th:each="element: ${userGender}" th:value="${element}" th:text="${element.name}"/>
        </select>
        <span class="errorClass" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
    </p>
    <p>town Name:
        <select class="paddingClass" th:field="*{address.townName}">
            <option th:each="element: ${town}" th:value="${element}" th:text="${element.name}"/>
        </select>
        <span class="errorClass" th:if="${#fields.hasErrors('address.townName')}" th:errors="*{address.townName}"></span>
    </p>
    <p>streetName: <input type="text" th:field="*{address.streetName}"></p>

    <p>activity:
        <select class="paddingClass" th:field="*{sportDisciplines}">
            <option th:each="element: ${userSportDisciplines}" th:value="${element}" th:text="${element.name}"/>
        </select>
        <span class="errorClass" th:if="${#fields.hasErrors('sportDisciplines')}" th:errors="*{sportDisciplines}"></span>
    </p>

    <p>activity level:
        <select class="paddingClass" th:field="*{activityLevel}">
            <option th:each="element: ${userActivityLevels}" th:value="${element}" th:text="${element.name}"/>
        </select>
        <span class="errorClass" th:if="${#fields.hasErrors('activityLevel')}" th:errors="*{activityLevel}"></span>
    </p>

    <button type="submit" >Save</button>
</form>

</body>
</html>